<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%thread] - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="skuber.api" level="ERROR"/>
  <logger name="com.ning.http.client" level="ERROR" />
  <logger name="play.api.libs.ws" level="ERROR" />
  
  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>